{{define "galenLoginTextMail"}}
<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="Content-Type"
      content="text/html; charset=UTF-8"
    />
  </head>
  <body
    style="
      background-color: #f6f6f6;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
    "
  >
    <div style="display: flex; justify-content: center; padding-top: 10px">
      <a
        target="_blank"
        href="https://benhviendienchau.vn/"
        style="
          mso-line-height-rule: exactly;
          text-decoration: underline;
          color: #2d3142;
          font-size: 18px;
        "
        ><img
          src="https://xjpefg.stripocdn.email/content/guids/CABINET_c743a9aa3767648db6e3f69fcf05020a660659bca35e182081931caed70b8c9f/images/logo.png"
          alt="Confirmation email"
          style="
            display: block;
            font-size: 18px;
            border: 0;
            outline: none;
            text-decoration: none;
            border-radius: 50px;
          "
          width="100"
          title="Confirm email"
      /></a>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 10px">
      <div style="padding: 20px; background-color: white; border-radius: 5px">
        <p>Chào mừng,</p>
        <p>Vui lòng tìm mã truy cập sử dụng một lần của bạn bên dưới:</p>
        <b>{{ .Code }}</b>
        <p>{{t "ttl_text" .}}</p>
        <p>Cảm ơn bạn đã sử dụng Galen.</p>
        <div class="footer">
          <p>
            Powered by
            <a href="https://www.inspiration-particle.com/">Inspiration Particle</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
